.u-section-1 .u-sheet-1 {
  min-height: 431px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 169px;
  height: 169px;
  background-image: url("images/ae369e88eda8da433bb42a668f10b64.jpg");
  background-position: 50% 50%;
  margin: 36px 20px 54px auto;
}